body {
    margin: 0;
    background: linear-gradient(135deg, #0f0f1a, #1e1b2e);
    font-family: Consolas, monospace;
    color: #f5f3ff;
    min-height: 100vh;
    text-align: center;
    overflow-x: hidden;
}

.container {
    max-width: 650px;
    position: relative;
    margin: 0 auto;
    padding: 50px;
    position: relative;
}

button {
    margin-top: 20px;
    padding: 12px 24px;
    background: #a78bfa;
    color: #0f0f1a;
    border: none;
    font-family: monospace;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    opacity: 0.9;
    background: #c4b5fd;
}

.terminal {
    margin-top: 20px;
    background: #1c1c2b;
    padding: 20px;
    border-radius: 8px;
    color: #3fb950;
    display: none;
    text-align: left;
    min-height: 180px;
}

.hiddenLetter {
    display: none;
    margin-top: 20px;
    color: #fff;
    line-height: 1.6;
}

.commitSection {
    display: none;
    margin-top: 20px;
}

.commitResult {
    margin-top: 10px;
    color: #3fb950;
}
.floating-heart {
    position: fixed;
    bottom: -20px;
    font-size: 18px;
    animation: floatUp 6s linear forwards;
    pointer-events: none;
    opacity: 0.8;
}
.pipeline {
    margin-top: 20px;
    display: none;
    width: 100%;
    max-width: 650px;
}

.progressBar {
    width: 100%;
    height: 10px;
    background: #1f2937;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progressFill {
    width: 0%;
    height: 100%;
    background: #3fb950;
    transition: width 0.3s ease;
}
.polaroid {
    position: fixed;
    width: 160px;
    background: white;
    padding: 10px 10px 35px 10px;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
    transition: all 0.8s ease;
    z-index: 3;
    position: fixed;
}

.polaroid img {
    width: 100%;
    display: block;
    border-radius: 5px;
}

.caption {
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: #a78bfa;
    font-family: 'Cormorant Garamond', serif;
    font-size: 14px;
    letter-spacing: 1px;
    
}

/* Posiciones */
.left {
    left: -220px;
}

.right {
    right: -220px;
}

/* Cuando aparecen */
.show.left {
    left: 25px;
}

.show.right {
    right: 25px;
}

/* Rotaciones cute */
#photo1 { top: 10vh; transform: rotate(-6deg); }
#photo2 { top: 10vh; transform: rotate(5deg); }
#photo3 { top: 58vh; transform: rotate(4deg); }
#photo4 { top: 60vh; transform: rotate(-4deg); }

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}
.envelope-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

/* Sobre */
.envelope {
    position: relative;
    width: 90%;            /* ocupa el 90% del ancho de la pantalla */
    max-width: 650px;      /* nunca más de 650px en pantallas grandes */
    aspect-ratio: 650 / 350; /* mantiene la proporción original */
    background: #1e1b2e;
    border: 2px solid #a78bfa;
    cursor: pointer;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 25px 60px rgba(167,139,250,0.2);
    margin: 20px auto;
}

/* Solapa */
.flap {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background: #a78bfa;
    transform-origin: top;
    transition: transform 0.8s ease;
    z-index: 3;
}

/* Carta interna */
.letter {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    background: #1c1c2b;
    color: #d8d4ff;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Courier New", monospace;
    transition: bottom 1s ease;
}

/* Animación abierta */
.envelope.open .flap {
    transform: rotateX(180deg);
}

.envelope.open .letter {
    bottom: 0;
}

.click-text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    pointer-events: none;
    opacity: 0.9;
}


@keyframes floatUp {
    from {
        transform: translateY(0);
        opacity: 0.8;
    }
    to {
        transform: translateY(-110vh);
        opacity: 0;
    }
}
@media (max-width: 900px) {
    .polaroid {
        width: 120px;
    }

    .show.left {
        left: 10px;
    }

    .show.right {
        right: 10px;
    }
    .envelope{
        width: 90%;            /* ocupa el 90% del ancho de la pantalla */
        max-width: 650px;      /* nunca más de 650px en pantallas grandes 
        aspect-ratio: 650 / 950; /* mantiene la proporción original */
    }
}

@media (max-width: 700px) {

    .polaroid {
        position: relative;
        width: 85%;
        max-width: 280px;
        margin: 20px auto;
        left: auto !important;
        right: auto !important;
        top: auto !important;
        transform: rotate(0deg) !important;
    }

    .left,
    .right,
    .show.left,
    .show.right {
        left: auto;
        right: auto;
    }
    .envelope{
        width: 90%;            /* ocupa el 90% del ancho de la pantalla */
        max-width: 650px;      /* nunca más de 650px en pantallas grandes */
        aspect-ratio: 650 / 950; /* mantiene la proporción original */
    }
}