body {
    margin: 0;
    background: linear-gradient(135deg, #0f0f1a, #1e1b2e);
    font-family: 'Poppins', sans-serif;
    color: #f5f3ff;
    min-height: 100vh;
    text-align: center;
    overflow-x: hidden;
}

h1, h2 {
    font-family: 'DM Serif Display', serif;
    color: #d8d4ff;
}

.container {
    max-width: 650px;
    position: relative;
    margin: 0 auto;
    padding: 50px;
    position: relative;
    
}

.floating-heart {
    position: fixed;
    bottom: -20px;
    font-size: 18px;
    animation: floatUp 6s linear forwards;
    pointer-events: none;
    opacity: 0.8;
}

.card-ui {
    background: #1c1c2b;
    border: 2px solid #a78bfa;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 20px 40px rgba(167, 139, 250, 0.15);
}

button {
    margin-top: 20px;
    padding: 12px 24px;
    background: #9362c4;
    color: #d8d4ff;
    border: none;
    /*font-family: 'Fira Code', monospace;*/
    cursor: pointer;
    font-size: 14px;
    border-radius: 8px;
    transition: transform 0.2s ease;
}

button:hover {
    opacity: 0.9;
    
    transform: scale(1.1);
}

.terminal {
    margin-top: 20px;
    color: #3fb950;
    display: none;
    text-align: left;
    min-height: 180px;
    font-family: 'Fira Code', monospace;
    letter-spacing: 0.5px;
}

#startScreen {
    position: fixed;
    inset: 0;
    background: #1c1c2b;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    transition: opacity 1s ease;
}
  
.start-content {
    text-align: center;
}
  
/* PRESS START gigante */
.press-start {
    font-family: 'Press Start 2P', cursive;
    font-size: 32px;
    color: #9362c4;
    animation: blink 1.2s infinite;
    margin-top: 40px;
    cursor: pointer;
}
  
.pixel-heart {
    font-size: 80px;
    text-align: center;
    animation: heartbeat 1.2s infinite;
    filter: drop-shadow(0 0 15px #ff4d88);
}
  
  
.pixel-heart::before {
    content: "わ";
}
  
@keyframes heartbeat {
    0% { transform: scale(1); }
    15% { transform: scale(1.3); }
    30% { transform: scale(1); }
    45% { transform: scale(1.25); }
    60% { transform: scale(1); }
}
  
  
/* Parpadeo PRESS START */
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.3; }
}

.hiddenLetter {
    width: 100%;
    display: none;
    margin-top: 20px;
    line-height: 1.6;
    color: #fff;
}

.commitSection {
    display: none;
    margin-top: 20px;
}

.commitResult {
    margin-top: 10px;
    color: #3fb950;
}

.pipeline {
    margin-top: 20px;
    display: none;
    width: 100%;
    max-width: 650px;
    font-family: 'Fira Code', monospace;
}

.progressBar {
    width: 100%;
    height: 10px;
    background: #1f2937;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progressFill {
    width: 0%;
    height: 100%;
    background: #3fb950;
    transition: width 0.3s ease;
}
.polaroid {
    position: fixed;
    width: 160px;
    background: white;
    padding: 10px 10px 35px 10px;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
    transition: all 0.8s ease;
    z-index: 3;
    position: fixed;
}

.polaroid img {
    width: 100%;
    display: block;
    border-radius: 5px;
}

.caption {
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: #a78bfa;
    /*font-family: 'Cormorant Garamond', serif;*/
    font-size: 14px;
    letter-spacing: 1px;
}

/* Posiciones */
.left {
    left: -220px;
}

.right {
    right: -220px;
}

/* Cuando aparecen */
.show.left {
    left: 25px;
}

.show.right {
    right: 25px;
}

/* Rotaciones cute */
#photo1 { top: 10vh; transform: rotate(-6deg); }
#photo2 { top: 10vh; transform: rotate(5deg); }
#photo3 { top: 58vh; transform: rotate(4deg); }
#photo4 { top: 60vh; transform: rotate(-4deg); }

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}
.envelope-container {
    display: none;
    width: 100%;
    padding: 40px 0;
}

/* Sobre */
.envelope {
    position: relative;
    width: 100%;            /* ocupa el 90% del ancho de la pantalla */
    max-width: 650px;      /* nunca m谩s de 650px en pantallas grandes */
    aspect-ratio: 650 / 350; /* mantiene la proporci贸n original */
    background: #1e1b2e;
    border: 2px solid #a78bfa;
    cursor: pointer;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 25px 60px rgba(167,139,250,0.2);
    margin: 20px auto;
}

/* Solapa */
.flap {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background: #a78bfa;
    transform-origin: top;
    transition: transform 0.8s ease;
    z-index: 3;
}

/* Carta interna */
.letter {
    position: relative;          /*  ya no absolute */
    transform: scaleY(0);        /* empieza cerrada */
    transform-origin: top;       /* crece hacia abajo */
    transition: transform 0.5s ease;
    background: #1c1c2b;
    color: #d8d4ff;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
    letter-spacing: 0.5px;
}


/* Animaci贸n abierta */
.envelope.open .flap {
    transform: rotateX(180deg);
}

.envelope.open .letter {
    transform: scaleY(1);
}

.click-text {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    
    width: 90%;
    text-align: center;

    font-size: clamp(14px, 1.5vw, 18px);
    color: white;

    z-index: 10;
}

@keyframes floatUp {
    from {
        transform: translateY(0);
        opacity: 0.8;
    }
    to {
        transform: translateY(-110vh);
        opacity: 0;
    }
}
@media (max-width: 900px) {
    .polaroid {
        width: 120px;
    }

    .show.left {
        left: 10px;
    }

    .show.right {
        right: 10px;
    }
    .envelope{
        width: 100%;            /* ocupa el 90% del ancho de la pantalla */
        max-width: 650px;      /* nunca m谩s de 650px en pantallas grandes 
        aspect-ratio: 650 / 950; /* mantiene la proporci贸n original */
    }
}

@media (max-width: 700px) {

    .polaroid {
        position: relative;
        width: 85%;
        max-width: 280px;
        margin: 20px auto;
        left: auto !important;
        right: auto !important;
        top: auto !important;
        transform: rotate(0deg) !important;
    }

    .left,
    .right,
    .show.left,
    .show.right {
        left: auto;
        right: auto;
    }
    .envelope{
        width: 90%;            /* ocupa el 90% del ancho de la pantalla */
        max-width: 650px;      /* nunca m谩s de 650px en pantallas grandes */
        aspect-ratio: auto; /* mantiene la proporci贸n original */
    }
}
#typedText::after {
    content: "|";
    margin-left: 4px;
    animation: blink 1s infinite;
    color: #a78bfa;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
.finalMessage {
    display: none;
    margin-top: 40px;
    text-align: center;
    animation: fadeIn 1s ease forwards;
}

.finalMessage h2 {
    margin-bottom: 15px;
}

.finalMessage button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #a78bfa;
    border: none;
    border-radius: 8px;
    color: #d8d4ff;
    cursor: pointer;
    font-size: 14px;
    transition: transform 0.2s ease;
}

.finalMessage button:hover {
    transform: scale(1.1);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.bigLoveMessage {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 99999;
    padding: 20px;

    animation: fadeIn 0.8s ease forwards;
}

.bigContent {
    display: flex;
    align-items: center;
    gap: 40px;

    max-width: 900px;
    width: 100%;
}

.bigContent img {
    width: 300px;
    max-width: 100%;
    border-radius: 15px;
}

.bigText {
    color: white;
}

.bigText h1 {
    font-size: clamp(24px, 5vw, 40px);
}

.bigText p {
    margin-top: 15px;
    font-size: clamp(16px, 3.5vw, 20px);
}

/* Responsive */
@media (max-width: 768px) {
    .bigContent {
        flex-direction: column;
        text-align: center;
    }
}
.countdown-wrapper {
    display: none;
    position: relative;
    text-align: center;
    margin-top: 40px;
    /*overflow: hidden;*/
}
  
.countdown-title {
    font-size: 18px;
    margin-bottom: 15px;
}
  
.countdown-box {
    font-size: 26px;
    font-weight: 600;
    background: linear-gradient(135deg, #0f0f1a, #1e1b2e);
    padding: 18px 25px;
    border-radius: 20px;
    display: inline-block;
    /*box-shadow: 0 10px 25px rgba(255, 105, 180, 0.2);*/
    box-shadow: 0 20px 40px rgba(167, 139, 250, 0.15);
}
  
/* Coraz贸n latiendo */
.heart {
    display: inline-block;
    margin-left: 8px;
    color: #ff4d88;
    animation: heartbeat 1.2s infinite;
}
/* Corazones flotando */
.hearts-container-countdown {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 1;
}
  
.floating-heart-countdown {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    color: #ff4d88;
    animation: floatUpCountdown linear forwards;
    opacity: 0.8;
}
  
@keyframes floatUpCountdown {
    0% {
      transform: translateY(0) scale(1);
      opacity: 0.9;
    }
    100% {
      transform: translateY(-150px) scale(1.4);
      opacity: 0;
    }
  }
  .valentine-explosion {
    position: fixed;
    pointer-events: none;
    z-index: 100000;
  
    animation: floatElegant 4s ease-out forwards;
}
  
@keyframes floatElegant {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
  
    20% {
      opacity: 1;
    }
  
    100% {
      transform: translateY(-200px);
      opacity: 0;
    }
}

  /* ===== MOBILE GALLERY ===== */
@media (max-width: 700px) {

    .mobile-gallery {
        display: flex;
        gap: 20px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding: 20px 10px;
    }

    .mobile-gallery::-webkit-scrollbar {
        display: none; /* ocultar barra */
    }

    .mobile-gallery .polaroid {
        flex: 0 0 85%;
        scroll-snap-align: center;
        position: relative !important;
        left: auto !important;
        right: auto !important;
        top: auto !important;
        transform: none !important;
        
    }
}
